@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    padding:5px 30px;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}

form{
    display: flex;
    flex-direction: column;
}
form div input{
    flex: 1;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}


.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}
